/**
 * Breakpoints
 *
 * Note: Please keep this file in sync with the breakpoints in the theme /themes/caris-2024/assets/src/css/_breakpoints.scss.
 */
$mobile-s-breakpoint: 320px;
$mobile-breakpoint: 480px;
$tablet-breakpoint: 781px;
$laptop-breakpoint: 1024px;
$large-breakpoint: 1440px;
$content-size: 1250px;
$wide-size: 1340px;
$max-size: 1600px;
